/* --------------- Contact Us ---------------- */

.contact_section{
    width: 100%;
    height: 72rem;
    display: grid;
    place-items: center;
    background-image: url(../../images/turnlight.svg);
    background-repeat: no-repeat;
    /* border: 2px solid red; */
  }
  
  .contact_section h2{
    font-size: 6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--title_color);
    text-shadow: var(--title_shadow);
    text-transform: uppercase;
    margin-top: 2.5rem;
    /* border: 2px solid red; */
  }
  
  .contact_section .center_contact{
    width: 60rem;
    height: 48rem;
    display: grid;
    place-items: center;
    margin-top: -3rem;
    /* border: 2px solid red; */
  }
  
  .center_contact .input_section{
    width: 50rem;
    height: 8rem;
    display: grid;
    place-items: center;
    /* border: 2px solid red; */
  }
  
  .center_contact label{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--secondary_color);
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid red; */
  }
  
  .input_section input{
    width: 45rem;
    height: 3.8rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    /* border: 2px solid red; */
  }
  
  .input_text{
    width: 50rem;
    height: 12rem;
    display: grid;
    place-items: center;
    margin-top: -0.5rem;
    /* border: 2px solid red; */
  }
  
  .input_text textarea{
    width: 45rem;
    height: 8rem;
    font-size: 1.5rem;
    margin-top: -1rem;
    font-family: 'Roboto', sans-serif;
    padding: .6rem 1rem;
    /* border: 2px solid red; */
  }
  
  .center_contact .submit_button{
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    padding: .5rem 4rem;
    cursor: pointer;
    background: transparent;
    color: #000;
    border: 2px solid rgb(80, 78, 78);
    transition: all 0.4s linear;
    /* border: 2px solid red; */
  }
  
  .center_contact .submit_button:hover{
    transition: all 0.4s linear;
    background: var(--secondary_color);
    color: #fff;
  }
  

  @media (max-width: 1023px){
  
    /* --------------- Contact Us ---------------- */
    .contact_section{
      height: 89rem;
    }
    .contact_section h2{
      width: 100%;
      text-align: center;
      font-size: 6rem;
    }
    .contact_section .center_contact{
      width: 100%;
      height: 69rem;
    }
    .center_contact .input_section{
      width: 100%;
      height: 13rem;
    }
    .center_contact label{
      font-size: 2rem;
    }
    .input_section input{
      width: 59rem;
      height: 5rem;
      font-size: 1.5rem;
    }
    .input_text{
      width: 100%;
      height: 15rem;
    }
    .input_text textarea{
      width: 59rem;
      height: 9rem;
      font-size: 2rem;
    }
    .center_contact .submit_button{
      font-size: 2rem;
    }
}

/* ------------ Mobile Phones -------------- */

@media (max-width: 768px){
  
    /* --------------- Contact Us ---------------- */
    .contact_section{
      height: 78rem;
      background-image: none;
    }
    .contact_section h2{
      width: 100%;
      text-align: center;
      font-size: 6rem;
    }
    .contact_section .center_contact{
      width: 100%;
      height: 56rem;
    }
    .center_contact .input_section{
      width: 100%;
      height: 10rem;
    }
    .center_contact label{
      font-size: 2rem;
    }
    .input_section input{
      width: 50rem;
      height: 4rem;
      font-size: 1.5rem;
    }
    .input_text{
      width: 100%;
      height: 15rem;
    }
    .input_text textarea{
      width: 50rem;
      height: 9rem;
      font-size: 2rem;
    }
    .center_contact .submit_button{
      padding: 1rem 3rem;
      font-size: 2.2rem;
    }
}  

@media (max-width: 600px){ 
  
    /* --------------- Contact Us ---------------- */
    .center_contact label{
      font-size: 1.7rem;
    }
    .input_section input{
      width: 42rem;
      height: 4rem;
      font-size: 1.5rem;
    }
    .input_text textarea{
      width: 42rem;
      height: 9rem;
      font-size: 1.8rem;
    }
    .center_contact .submit_button{
      font-size: 1.7rem;
    }
  
  }

  @media (max-width: 450px){

    /* --------------- Contact Us ---------------- */
    .contact_section{
      height: 58rem;
    }
    .contact_section h2{
      font-size: 3.5rem;
    }
    .contact_section .center_contact{
      height: 45rem;
    }
    .center_contact .input_section{
      height: 8rem;
    }
    .center_contact label{
      font-size: 1.7rem;
    }
    .input_section input{
      width: 33rem;
      height: 3.5rem;
      font-size: 1.3rem;
    }
    .input_text{
      height: 14rem;
    }
    .input_text textarea{
      width: 33rem;
      height: 9rem;
      font-size: 1.3rem;
    }
    .center_contact .submit_button{
      font-size: 1.3rem;
    }
}

@media (max-width: 345px){
 
    /* --------------- Contact Us ---------------- */
    .contact_section{
      height: 57rem;
    }
    .contact_section h2{
      font-size: 2.6rem;
    }
    .center_contact label{
      font-size: 1.4rem;
    }
    .input_section input{
      width: 25rem;
      font-size: 1.1rem;
    }
    .input_text textarea{
      width: 25rem;
      font-size: 1.1rem;
    }
    .center_contact .submit_button{
      font-size: 1.2rem;
    }
}