.home_section {
  width: 100%;
  height: calc(100vh - 6.8rem);
  display: grid;
  place-items: center;
}
.home_section .center_home {
  width: 115rem;
  height: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home_section .center_home .left_sec {
  width: 62rem;
  height: 30rem;
  font-family: "Montserrat", sans-serif;
  margin-left: 0.1rem;
}
.home_section .center_home .left_sec h1 {
  font-weight: 900;
  font-size: 5.8rem;
  text-transform: uppercase;
}
.home_section .center_home .left_sec span {
  color: var(--secondary_color);
}
.home_section .center_home .left_sec .icons {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  transition: all 0.3s linear;
}
.home_section .center_home .left_sec .icons .MuiSvgIcon-root {
  text-decoration: none;
  font-size: 3rem;
  margin-top: 1rem;
  margin-right: 3rem;
  cursor: pointer;
  color: #383737;
  transition: all 0.3s linear;
}
.home_section .center_home .left_sec .icons .MuiSvgIcon-root:hover {
  color: var(--secondary_color);
  transition: all 0.3s linear;
  animation-fill-mode: forwards;
  transform: translateY(-1rem);
}
.home_section .center_home .left_sec h2 {
  padding: 1rem 0;
  font-weight: 500;
  font-size: 3.4rem;
  color: #383737;
  font-family: "Poppins", sans-serif;
}
.home_section .center_home .left_sec h3 {
  padding: 0.6rem 0;
  font-weight: 500;
  font-size: 2rem;
  color: #383737;
  font-family: "Poppins", sans-serif;
}
.home_section .center_home .left_sec h3 span {
  font-weight: 600;
}
.home_section .center_home .right_sec {
  width: 35rem;
  height: 35rem;
  display: grid;
  place-items: center;
  margin-top: -3.5rem;
  margin-right: 13rem;
  filter: drop-shadow(1rem 1rem 1rem rgb(88, 82, 82));
  /* filter: drop-shadow(1rem 1rem 1rem #1c9df3); */
  /* border: 2px solid red; */
}
.home_section .center_home .right_sec img {
  height: 41rem;
  width: 56rem;
  background-color: var(--secondary_color);
  -webkit-clip-path: ellipse(37% 50% at 50% 50%);
          clip-path: ellipse(37% 50% at 50% 50%);
  filter: brightness(115%);
}

@media (max-width: 1023px) {
  /* ----------- Home ------------- */
  .home_section {
    width: 100%;
    height: 65rem;
  }
  .home_section .center_home {
    width: 100%;
    height: 50rem;
  }
  .home_section .center_home .left_sec {
    width: 46rem;
    height: 20rem;
    font-size: 2rem;
    margin-left: 2rem;
  }
  .home_section .center_home .left_sec h1 {
    font-size: 4rem;
  }
  .home_section .center_home .left_sec h2 {
    font-size: 2.4rem;
  }
  .home_section .center_home .left_sec h3 {
    font-size: 2rem;
  }
  .home_section .center_home .left_sec .MuiSvgIcon-root {
    font-size: 3rem;
    margin-top: 1rem;
    margin-right: 3rem;
  }
  .home_section .center_home .right_sec {
    width: 26rem;
    height: auto;
  }
  .home_section .center_home .right_sec img {
    height: 30rem;
    width: auto;
  }
}
/* ------------ Mobile Phones -------------- */
@media (max-width: 768px) {
  .home_section {
    width: 100%;
    height: 72rem;
  }
  .home_section .center_home {
    width: 100%;
    height: 63rem;
    justify-content: space-around;
    text-align: center;
    flex-direction: column-reverse;
  }
  .home_section .center_home .left_sec {
    width: 100%;
    font-size: 2.6rem;
    height: auto;
    margin: 0;
  }
  .home_section .center_home .left_sec h1 {
    font-size: 5.5rem;
  }
  .home_section .center_home .left_sec h2 {
    font-size: 3.2rem;
  }
  .home_section .center_home .left_sec h3 {
    font-size: 2rem;
  }
  .home_section .center_home .left_sec .icons {
    display: flex;
    justify-content: center;
    margin-left: 3.5rem;
  }
  .home_section .center_home .left_sec .icons .MuiSvgIcon-root {
    font-size: 3.4rem;
  }
  .home_section .center_home .right_sec {
    width: 100%;
    height: auto;
    margin: 0;
  }
  .home_section .center_home .right_sec img {
    width: 50rem;
    height: auto;
  }
}
@media (max-width: 600px) {
  .home_section {
    height: 64rem;
  }
  .home_section .center_home {
    height: 54rem;
  }
  .home_section .center_home .left_sec {
    font-size: 1.8rem;
  }
  .home_section .center_home .left_sec h1 {
    font-size: 4.2rem;
  }
  .home_section .center_home .left_sec h2 {
    font-size: 2.6rem;
  }
  .home_section .center_home .left_sec h3 {
    font-size: 1.8rem;
  }
  .home_section .center_home .left_sec .MuiSvgIcon-root {
    font-size: 2.7rem;
  }
  .home_section .center_home .right_sec img {
    width: 40rem;
    height: auto;
  }
}
@media (max-width: 450px) {
  .home_section {
    height: 55rem;
  }
  .home_section .center_home {
    height: 44rem;
  }
  .home_section .center_home .left_sec {
    font-size: 1.4rem;
  }
  .home_section .center_home .left_sec h1 {
    font-size: 3rem;
  }
  .home_section .center_home .left_sec h2 {
    font-size: 1.8rem;
  }
  .home_section .center_home .left_sec h3 {
    font-size: 1.4rem;
  }
  .home_section .center_home .left_sec .MuiSvgIcon-root {
    font-size: 2.4rem;
  }
  .home_section .center_home .right_sec img {
    width: 31rem;
    height: auto;
  }
}
@media (max-width: 345px) {
  .home_section {
    height: 43rem;
  }
  .home_section .center_home {
    height: 34rem;
  }
  .home_section .center_home .left_sec {
    padding-top: 2rem;
    font-size: 1.2rem;
  }
  .home_section .center_home .left_sec h1 {
    font-size: 2.4rem;
  }
  .home_section .center_home .left_sec h2 {
    font-size: 1.6rem;
  }
  .home_section .center_home .left_sec h3 {
    font-size: 1.4rem;
  }
  .home_section .center_home .left_sec .home_section .center_home .left_sec .icons .MuiSvgIcon-root {
    font-size: 1.4rem;
  }
  .home_section .center_home .right_sec img {
    width: 22rem;
    height: auto;
  }
}/*# sourceMappingURL=home.css.map */