.home_section {
  width: 100%;
  height: 66rem;
  margin-top: -1.3rem;
  display: grid;
  place-items: center;
  /* border: 2px solid red; */

  .center_home {
    width: 115rem;
    height: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    /* border: 2px solid red; */

    .left_sec {
      width: 62rem;
      height: 20rem;
      font-family: 'Montserrat', sans-serif;
      margin-left: .1rem;
      /* border: 2px solid red; */

      h1 {
        font-weight: 900;
        font-size: 5.8rem;
        text-transform: uppercase;
      }

      span {
        color: var(--secondary_color);
      }

      .icons {
        display: flex;
        flex-direction: row;
        transition: all .3s linear;

        .MuiSvgIcon-root {
          text-decoration: none;
          font-size: 3rem;
          margin-top: 1rem;
          margin-right: 3rem;
          cursor: pointer;
          color: #383737;
          transition: all .3s linear;
        }

        .MuiSvgIcon-root:hover {
          color: var(--secondary_color);
          transition: all .3s linear;
          animation-fill-mode: forwards;
          transform: translateY(-1rem);
        }
      }

      h2 {
        padding: 1rem 0;
        font-weight: 500;
        font-size: 3.4rem;
        color: #383737;
        font-family: 'Poppins', sans-serif;
      }

      h3 {
        padding: .2rem 0;
        font-weight: 500;
        font-size: 2rem;
        color: #383737;
        font-family: 'Poppins', sans-serif;

        span {
          font-weight: 600;
        }
      }
    }

    .right_sec {
      width: 35rem;
      height: 35rem;
      display: grid;
      place-items: center;
      margin-top: -3.5rem;
      margin-right: 13rem;
      filter: drop-shadow(1rem 1rem 1rem rgb(88, 82, 82));
      /* filter: drop-shadow(1rem 1rem 1rem #1c9df3); */
      /* border: 2px solid red; */

      img {
        height: 41rem;
        width: 56rem;
        background-color: var(--secondary_color);
        clip-path: ellipse(37% 50% at 50% 50%);
        filter: brightness(115%);
      }
    }
  }
}

@media (max-width: 1023px) {

  /* ----------- Home ------------- */
  .home_section {
    width: 100%;
    height: 65rem;

    .center_home {
      width: 100%;
      height: 50rem;

      .left_sec {
        width: 46rem;
        height: 20rem;
        font-size: 2rem;
        margin-left: 2rem;

        h1 {
          font-size: 4rem;
        }

        h2 {
          font-size: 2.4rem;
        }

        h3 {
          font-size: 2rem;
        }

        .MuiSvgIcon-root {
          font-size: 3rem;
          margin-top: 1rem;
          margin-right: 3rem;
        }
      }

      .right_sec {
        width: 26rem;
        height: auto;

        img {
          height: 30rem;
          width: auto;
        }
      }
    }
  }
}

/* ------------ Mobile Phones -------------- */

@media (max-width: 768px) {

  .home_section {
    width: 100%;
    height: 72rem;

    .center_home {
      width: 100%;
      height: 63rem;
      justify-content: space-around;
      text-align: center;
      flex-direction: column-reverse;

      .left_sec {
        width: 100%;
        font-size: 2.6rem;
        height: auto;
        margin: 0;

        h1 {
          font-size: 5.5rem;
        }

        h2 {
          font-size: 3.2rem;
        }

        h3 {
          font-size: 2rem;
        }

        .icons {
          display: flex;
          justify-content: center;
          margin-left: 3.5rem;

          .MuiSvgIcon-root {
            font-size: 3.4rem;
          }
        }
      }

      .right_sec {
        width: 100%;
        height: auto;
        margin: 0;

        img {
          width: 50rem;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 600px) {

  .home_section {
    height: 64rem;

    .center_home {
      height: 54rem;

      .left_sec {
        font-size: 1.8rem;

        h1 {
          font-size: 4.2rem;
        }

        h2 {
          font-size: 2.6rem;
        }

        h3 {
          font-size: 1.8rem;
        }

        .MuiSvgIcon-root {
          font-size: 2.7rem;
        }
      }

      .right_sec img {
        width: 40rem;
        height: auto;
      }
    }
  }
}

@media (max-width: 450px) {

  .home_section {
    height: 55rem;

    .center_home {
      height: 44rem;

      .left_sec {
        font-size: 1.4rem;

        h1 {
          font-size: 3rem;
        }

        h2 {
          font-size: 1.8rem;
        }

        h3 {
          font-size: 1.4rem;
        }

        .MuiSvgIcon-root {
          font-size: 2.4rem;
        }
      }

      .right_sec img {
        width: 31rem;
        height: auto;
      }
    }
  }
}

@media (max-width: 345px) {

  .home_section {
    height: 43rem;

    .center_home {
      height: 34rem;

      .left_sec {
        padding-top: 2rem;
        font-size: 1.2rem;

        h1 {
          font-size: 2.4rem;
        }

        h2 {
          font-size: 1.6rem;
        }

        h3 {
          font-size: 1.4rem;
        }

        .home_section .center_home .left_sec .icons .MuiSvgIcon-root {
          font-size: 1.4rem;
        }
      }

      .right_sec img {
        width: 22rem;
        height: auto;
      }
    }
  }
}